  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Libreta</ion-title>
    </ion-toolbar>
  </ion-header>
  
 <!-- <div class="ion-padding">
    <div>
      <ion-button shape="round" id="open-modal" color="warning">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-thumbnail alt="foto perfil" src="../../../assets/images/logo-mascotas-06.png"></ion-thumbnail>
    
    </div>-->
    
      <!--<ion-button shape="round" id="">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>-->  
    
      <!--<div>
      <ion-title color="secondary" >{{registroLibreta.get('nombre')?.value +' ' + registroLibreta.get('')}}</ion-title>
    </div>-->
  <ion-content class="ion-padding">
     <ion-header>
      <ion-toolbar>
        <ion-title>Datos de la mascota</ion-title>
      </ion-toolbar>
     </ion-header>

      <ion-content>
        <form [formGroup]="registroLibreta" (ngOnSubmit)="onSubmit()" class="ion-padding">
         <ion-list>
          <ion-item>
            <ion-input color="secondary" formControName="veterinaria" label="Veterinaria" label-placement="floating"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input color="secondary" formControlName="diagnostico" label="Diagnóstico" label-placement="floating"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input color="secondary" formControlName="libreta" label="Libreta de vacunación" label-placement="floating"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input color="secondary" formControlName="tratamiento" label="Tratamiento" label-placement="floating"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input color="secondary" formControlName="turno" label="Fecha turno" label-placement="floating"></ion-input>
          </ion-item>
          <div>
            <ion-button (click)="onSubmit()" color="secondary" type="submit" shape="round" strong="true" size="default" expand="block">Anotar</ion-button>
           </div>
         </ion-list>
        </form>
        <ion-button (click)="formularioPdf()" color="Tertiary" strong="true" size="default" expand="block">Crear Pdf</ion-button>
      </ion-content>
            </ion-content>
  

