<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-uno">
      <ion-icon name="home-outline" size="large"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab-dos">
      <ion-icon name="location-outline"size="large"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab-tres">
      <ion-icon name="file-tray-full-outline" size="large"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab-cuatro">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>